.activeDayCard {
  /* Box dimensions and appearance */
  width: 285px;
  height: 320px;
  background-color: rgba(255, 255, 255, 0.159);
  backdrop-filter: blur(20px);
  border: 2px solid rgba(255, 255, 255, 0.159);
  box-shadow: 0 30px 60px rgba(3, 46, 87, 0.2);
  border-radius: 20px;
  
  /* Flex container properties */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-shrink: 0;
  user-select: none;

  /* Heading styles */
  h3 {
    font-size: 24px;
    letter-spacing: 2px;
    color: #fff;
  }

  /* Info section styles */
  .info {
    display: flex;
    flex-direction: column;

    p {
      font-size: 14px;
      text-transform: uppercase;
      color: rgba(243, 236, 236, 0.817);
    }
  }

  /* Main heading style */
  h1 {
    font-size: 44px;
    color: #fff;
  }

  /* Min/max temperature styles */
  .minmax {
    display: flex;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.434);

    /* Left column styles */
    .min {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 0 16px;
      border-right: solid 2px rgba(255, 255, 255, 0.159);
    }

    /* Right column styles */
    .max {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 0 16px;
    }
  }
}
