.error {
    background-color: rgba(5, 5, 15, 0.670);
    backdrop-filter: blur(5px);
    border: 2px solid #ffffff;
    box-shadow: 0 27.2px 56.3px rgba(0, 0, 0, 0.25);
    text-align: center;
    color: red;
    font-size: 18px;
    font-weight: 600;
    padding: 48px;
  }
  