.searchInput {
  display: flex;
  justify-content: center;
  gap: 26px; 

  .inputBox {
    width: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    input[type="text"] {
      width: 100%;
      padding: 14px; 
      border-radius: 10px; 
      background-color: rgba(5, 5, 15, 0.670);
      border: 2px solid rgba(0, 0, 0, 0.1);
      font-size: 18px;
      color: white;
      user-select: none;
      &:focus {
        outline: none;
      }
    }
    svg {
      color: white;
      position: absolute;
      right: 20px;
      cursor: pointer;
      padding: 16px 0 16px 16px; 
      -webkit-tap-highlight-color: transparent;
    }
  }
  select,
  option {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 180px;
    padding: 14px;
    font-size: 18px; 
    border-radius: 10px; 
    background-color: rgba(5, 5, 15, 0.670);
    border: 2px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: rgba(243, 236, 236, 0.685);
    -webkit-tap-highlight-color: transparent;
    &:focus {
      outline: none;
    }
  }
}

@media (max-width: 576px) {
  .inputs {
    flex-direction: column;
    gap: 6px; 
    .inputBox {
      width: 250px !important;
    }
  }
}