.week {
  min-width: calc(100%-300px);
  margin-top: 40px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.207);
  backdrop-filter: blur(100);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 28px 60px rgba(3, 46, 87, 0.2);
  align-self: center;
  border-left: none;
  display: grid;
  grid-template-columns: repeat(7,100px);
  place-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 0 54px;
  gap: 24px;
  user-select: none;
  border-radius: 20px;


  &::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
    height: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
  }

  .day {
    padding: 5px;
    border-radius: 20px;
    width: 100px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    border: 2px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(243, 236, 236, 0.685);
    cursor: pointer;
    p {
      margin-top: 16px;
    }
  }
}

.active {
  background-color: #f5ececee !important;
  color: rgb(78, 75, 75) !important;
}

@media (max-width: 576px) {
  .week {
    width:100%;
  }
}