
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
}

.container {
  background: linear-gradient(rgba(0, 0, 0, 0.1), #ffffff25), url(../assets//background2.gif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  margin-top: 40px;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 576px) {
  .container {
    height: auto;
    padding: 36px;
    .box {
      gap: 36px;
      flex-direction: column;
    }
  }
}